
# Build worker image (VM template)
image: Visual Studio 2015

install:
  - choco install gitversion.portable -pre -y

assembly_info:
  patch: false

init:

before_build:
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo .\build\Version.cs
  - ps: Update-AppveyorBuild -Version "$env:GitVersion_NuGetVersion"
  - ps: nuget restore

build:
  # project: LogJam.sln
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  verbosity: minimal

test:
  assemblies:
    # only assemblies to test
    - 'test\**\*Tests.dll'

artifacts:
  - path: 'src\**\*.nupkg' # find all NuGet packages recursively

cache:
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
  - packages -> **\packages.config