<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="LogJam.UnitTests.Interop.TraceSourceUseCases.Configured" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add 
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All" />
		</switches>
	</system.diagnostics>
</configuration>