<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.diagnostics>
    <sources>
      <source name="LogJam.UnitTests.Interop.TraceSourceUseCases.Configured" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <!--<add-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All"/>
    </switches>
  </system.diagnostics>

  <appSettings>
    <add key="xunit.diagnosticMessages" value="true"/>
    <add key="xunit.methodDisplay" value="method"/>
    <add key="xunit.shadowCopy" value="false"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
